<article class="list__item post">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		{{- $lead := . | markdownify | plainify | replaceRE `^\s+|\s+$` "" | truncate 160 -}}
		<p class="list__lead post__lead">{{ $lead }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{- $desc := "" -}}
		{{- if .Params.description -}}
			{{- $desc = .Params.description | markdownify | plainify | replaceRE `^\s+|\s+$` "" | truncate 200 -}}
		{{- else if .Params.lead -}}
			{{- $desc = .Params.lead | markdownify | plainify | replaceRE `^\s+|\s+$` "" | truncate 200 -}}
		{{- else if .Summary -}}
			{{- $desc = .Summary | plainify | replaceRE `^\s+|\s+$` "" | truncate 200 -}}
		{{- else -}}
			{{- $desc = .Content | markdownify | plainify | replaceRE `^\s+|\s+$` "" | truncate 200 -}}
		{{- end -}}
		{{- if $desc }}
		<p>{{ $desc }}</p>
		{{- end }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>
